<!-- <table *ngIf="userDetails" class="table-fill">
  <thead>
      <tr>
          <th colspan="2" class="text-center">User Profile</th>
      </tr>
  </thead>
  <tbody>
      <tr>
          <td>First Name</td>
          <td>{{userDetails.fullName.split(' ')[0]}}</td>
      </tr>
      <tr>
          <td>Last Name</td>
          <td>{{userDetails.fullName.split(' ')[1]}}</td>
      </tr>
      <tr>
          <td>Email</td>
          <td>{{userDetails.email}}</td>
      </tr>
      <tr>
          <td colspan="2" class="text-center">
              <input type="button" (click)="onLogout()" value="Logout" />
          </td>
      </tr>
  </tbody>
</table> -->

<nav class="navbar-menu navbar-menu__sub">
  <div class="container">
    <div class="navbar-holder d-flex align-items-start">
      <a href="/header" class="navbar-logo mr-auto d-none d-md-block">
        <img class="img-fluid js-lazy-image js-has-webp lazy-image-loaded" alt="Apollo Tiếng Anh trẻ em" src="../../../assets/image/logo.png"  style="height: 150px; width: 150px;">
      </a>
      <div class="navbar-list d-flex flex-column ml-md-6">
        
        <div class="navbar-list-top d-flex flex-wrap align-items-center ml-md-auto my-md-auto">
          <a href="tel:18006655" class="ml-md-auto mr-md-4">
            <i class="fa fa-phone mr-1" aria-hidden="true"></i> 1800-6655
          </a>
          <a href="#" class="has-border mr-md-4">
            <i class="fa fa-map-marker mr-1" aria-hidden="true"></i> Tìm trung tâm
          </a>
          <p *ngIf="userDetails" style="margin: 5px 10px 0px 0px; ">Xin chao: {{userDetails.fullName.split(' ')[0]}} {{userDetails.fullName.split(' ')[1]}}  <!-- {{currentUser.name}} --></p>
          <a href="" class="has-border mr-md-4" (click)="onLogout()" >Logout</a>
        </div>
        <div class="navbar-list-bottom my-md-auto d-flex flex-wrap justify-content-between">
          <a class="list-bottom-item" href="#" style="text-decoration: none;">AGLS là gì</a>
          <a class="list-bottom-item" href="#" style="text-decoration: none;">Vì sao chọn Apollo</a>
          <div class="list-bottom-item dropdown">
            Các khóa học
            <div class="dropdown-content">
              <a href="/tieng-anh-tre-em/tieng-anh-mau-giao" class="d-block">Tiếng Anh Mẫu Giáo</a>
              <a href="/tieng-anh-tre-em/tieng-anh-thieu-nhi" class="d-block">Tiếng Anh Thiếu Nhi</a>
              <a href="/tieng-anh-tre-em/tieng-anh-thieu-nien" class="d-block">Tiếng Anh Thiếu Niên</a>
              <a href="/tieng-anh-tre-em/khoa-hoc-ielts-cho-hoc-sinh" class="d-block">IELTS</a>
            </div>
          </div>
          <div class="list-bottom-item dropdown">
            Đồng hành cùng Apollo
            <div class="dropdown-content">
              <a href="#" class="d-block">Trung tâm mới</a>
              <a href="#" class="d-block">Câu chuyện thành công</a>
              <a href="#" class="d-block">Tin tức và Sự kiện</a>
              <a href="#" class="d-block">Hình ảnh hoạt động</a>
              <a href="#" class="d-block">Education Investor Award</a>
            </div>
          </div>
          <a class="list-bottom-item" href="#" style="text-decoration: none;">Góc của mẹ</a>
        </div>            
      </div>
      <button id="toggle-menu" class="d-block d-md-none ml-auto" type="button">
        <span></span>
      </button>
    </div>
  </div>
</nav>
